body {
  font-family: Roboto;
  font-style: normal;
  background-color: #FFFFFF;
}
ul {
  list-style: none;
}
.address {
  font-style: normal;
}
.address .adress-color {
  color: black;
}
/* WebStudio */
.web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio,
.studio-white {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: black;
}
.studio-white {
  color: #FFFFFF;
}
 

/* /WebStudio */

/* list*/
.list-no-style {
  list-style: none;
}
.header a,
.header a:visited {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  color: #212121;
  letter-spacing: 0.02em;
}
.header a:hover,
.header a:active {
  color: #2196f3;
}
/*top*/
.top-side h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}
.top-side .link .link-service {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  }
  .link-service {
    width: 1600;
    height: 600;    
    background-color: #2F303A;
    color: #FFFFFF;
    margin: 90px 190 px 90px;
  }
  .link {
  display: block;
  text-decoration: none; 
  margin: 30px 700px 200px;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  }
   h1 {
     margin: 0px;
     padding: 200px 450px 280pxs;
   }   
/*/top*/

/*description*/
.services-description .subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.services-description .description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
/*/description*/
h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*team*/
.team{
width: 1600;
height: 650;
background-color: #F5F4FA;
}
.team h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team .position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*/team*/

/*contacts*/
.contacts {
  background-color: #2F303A;
}
.contacts .location {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.contacts a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*/contacts*/

/*Portfolio*/
/*Links*/
.links-description .links {
  text-decoration: none; 
  background-color: #F5F4FA;
  font-weight: normal;
  font-size: 16px;
  line-height: 0.615;
  letter-spacing: 0.03em;
  color: #212121;  
}
.links:hover,
.links:focus       {
  color: #FFFFFF;
  background-color: #2196F3; 
}
/*/Links*/

/*Description images*/
.description-images h4 {
font-weight: bold;
margin: 20px 25px;
font-size: 18px;
line-height: 0.5;
letter-spacing: 0.06em;
color: #212121;
}
.description-images .description {
 font-weight: 400px;
 margin: 4px 25px 20px;
 font-size: 16px;
 line-height: 1/188;
 letter-spacing: 0.03em;
 color: #757575;
}
.description-link {
  display: block;
  text-decoration: none;  
}
.description-link .description:hover {
 text-decoration: underline #2196f3;}
.description-images h4:hover {
  text-decoration: underline #2196f3;
  }


/*Description images*/